body{
    background-color: #1e1f24;
    color:#333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.titulos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
     color:rgb(233, 20, 20);
}
.cuerpo{
       color:#333;
    font-family: Arial, Helvetica, sans-serif;
    
}
#h1{
    color: darkblue;
}
#div1{
    height: 100%;
 
margin: 0 auto;
width: 70%;
text-align: justify;
border: 1px solid #333;
font-size: 20px;
background: white;
box-sizing: content-box;

}

#cabecera{
    height: 60px;
    box-shadow: 0px 2px 20px 0px rgb(0,0,0,0.5) ;
   font-weight: bold;
   margin: 0px;
   padding:0,5rem ;
    color: rgb(255, 255, 255);
    background-color: rgb(55, 33, 199);
   font-size: 30px;
   text-align: center;
   background: #37488b;
   text-align: left;
   
}
#container h1
{
    font-size: 20px;
}
#cabecera #tagline {
padding: 1rem 0 0 0;
font-weight: normal;
font-size: 0,8rem;

}
#cabecera #logo{
    width: 50px;
    vertical-align: middle;
}

#footer{
    background: #777;
    color: white;
    text-align: center;
    height: 35%;
    padding: 0.5rem;

}
#img{
    width: 500px; 
    height: 200px;
   padding: 0,5rem;
    margin:10px auto;
	display:block;
}